<h1>Manga Directory:</h1>
 <%= render "shared/flasherror"%> 

  <% @mangas.each do |manga| %>
         
        <div class="manga-post" >
     
        <h2><%= link_to manga.series, manga.link, class: 'link-to-colour', :target => "_blank"%><p></h2>
         <%= image_tag(manga.picture, :width => 300, :height => 250) if manga.picture.attached? %><p>
        - Summary: <%= manga.description%> <p>
        - Publishers: <%= manga.publishers %>  <p>
        - Posted by: <%= manga.user.username%><p>
        - <%= link_to "Edit", edit_manga_path(manga)%> | 
        <%= link_to "Delete", manga, method: :delete, data: { confirm: "Are you sure you want to delete this manga?"}%><p><p>
        - Write a <%= link_to "review", new_manga_review_path(manga.id)%></p></div><br>
   
   
     <p>
    
  <% end %>