<%= render partial: 'layouts/errors', locals: {object: @manga}  %>
<%= render "shared/flasherror"%>

<%= form_for(@manga) do |f|%>
<br>

      <%= f.label :series %>
      <%= f.text_field :series %>

    <p>
 
      <%= f.label :publishers %>
      <%= f.text_field :publishers %>
   
    <p>

      <%= f.label :link %>
      <%= f.text_field :link %>
  
    <p>


      <%= f.label :description %><p>
      <%= f.text_area :description, size: "40x5" %>
  

    <p>
 
      <%= f.label :picture %><p>
      <%= f.file_field :picture %>
 

    <p>
  
    <p>
    Select a genre: 
    
      <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: 'Select One'%> 
    

    <p> 
    OR create a new genre:
    <p>

      <%= f.fields_for :genre do |genres| %>
      <%= genres.label :genre %>
      <%= genres.text_field :name %>
      <% end %>
  
    <p>

<br>
  <%= f.submit "Dattebayo!"  %>
</div>
<% end %>