<%= render partial: 'layouts/errors', locals: {object: @manga}  %>
<%= render "shared/flasherror"%>

<%= form_for(@manga) do |f|%>
<br>
  <div>
      <%= f.label :series %>
      <%= f.text_field :series %>
  </div>
    <p>
  <div>
      <%= f.label :publishers %>
      <%= f.text_field :publishers %>
   
    <p>
  <div>
      <%= f.label :link %>
      <%= f.text_field :link %>
  </div>
    <p>

  <div> 
      <%= f.label :description %><p>
      <%= f.text_area :description, size: "40x5" %>
  </div>

    <p>
  <div> 
      <%= f.label :picture %><p>
      <%= f.file_field :picture %>
  </div>

    <p>
  <div> 
    <p>
    Select a genre: 
    </p>
      <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: 'Select One'%> 
    
  </div>

    <p> OR create a new genre:
  <div>
      <%=f.fields_for :genre do |genres| %>
      <%= genres.label :name %>
      <%= genres.text_field :name %>
    <% end %>
  </div> 
    <p>

<br>
  <%= f.submit "Dattebayo!"  %>

<% end %>