<a href ="https://www.crunchyroll.com/" target="_blank"><img src="https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/93273952_10157449071287602_859667726115799040_n.jpg?_nc_cat=110&_nc_sid=8024bb&_nc_ohc=F-873Z2C4soAX-eEq4-&_nc_ht=scontent-sjc3-1.xx&oh=22e440edb8a15b847b8f4d72cee47bca&oe=5EB6D3AF" height= 13px; width=20px></a>
Munchy Roll! Hello <%= current_user.username || current_user.email if current_user %>!
<%= Time.new.strftime("%d of %B, %Y")%><br>
<div class ="nav-box">

<%= link_to 'Home', '/' if !current_user %> 
<%= link_to 'Home', user_path(current_user) if current_user %> |
<%= link_to "All Manga", mangas_path %> |
<%= link_to 'New Manga', new_manga_path %> |
<%= link_to "All Reviews", reviews_path %> |
<%= link_to "New Review", new_review_path %> 
<%#= link_to "All Genres", genres_path %> 
| <%= link_to 'Log Out', logout_path, method: :delete if current_user %>


</div>