<%= render "shared/flasherror"%>

<h1> All reviews about manga here! </h1>


<% @reviews.each do |review| %>
    <div class="manga-post">
<h3> 
 <%= review.title%> - <%= link_to review.manga.series, review.manga.link, class: 'link-to-colour', :target => "_blank" %> <p>
 by <%= review.user.username || reveiw.user.email%>
<p>
 <%#= image_tag(review.manga.picture, :width => 300, :height => 250) if review.manga.picture.attached? %><p>
<p>Rating: <%= review.rating %> / 5</h3>
<p> 
<h5><p> - <%= review.summary %></h5>
 <%= link_to "Edit", edit_review_path(review) if review.user == current_user%>  <%= link_to "| Delete", review, method: :delete, data: { confirm: "Are you sure you want to delete this manga?"}if review.user == current_user%>
<p>
</div><br>
<% end %>

<h3><p>  Write a <%= link_to "new review", new_review_path %> about a manga!</h3>