<%= render "shared/flasherror"%>

<h2>Here is the review from the Munchy Roll collection!</h2>

    <div class="manga-post" >
<h3>
 <%= @review.title%> - <%= link_to @review.manga.series, @review.manga.link, class: 'link-to-colour', :target => "_blank" %> <p>
 by <%= @review.user.username%>
<p>
<p>Rating: <%= @review.rating %> / 5</h3>
<p> 
<h5><p> - <%= @review.summary %></h5>

- <%= link_to "Edit", edit_review_path(@review)%>
<p>
</div><br>


 